# macOS
*.DS_Store

# Python module
*.pyc

# Python cache
*.egg-info
__pycache__/
dist/
build/
poetry.lock

# Quick test files and old folders
test.py
old/

# vim
*.swo
*.swp

# lint
1/

# IDE
.vscode/
.idea/

# Virtual environment
.venv/